<div class="cardContainer">
    <nb-card style="margin-top: 12px; width:750px; height: auto;" size="small">
        <nb-card-header>
            <h4>{{title}}</h4>
            <h6>Ajouter un commentaire</h6>
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="form" (ngSubmit)="add()">
                <div class=listItemContainer>
                    <div class="content">
                        <div class="contenHeader">
                            <div class="first">
                                <label>Title : </label>
                                <input tyep="text" nbInput formControlName="Title">
                            </div>
                            <div class="third">
                                <label>Note : </label>
                                <div class="progressContainer">
                                    <nb-actions size="small">
                                        <nb-action icon="minus-outline" (click)="setValue((noteValue) - 1)"></nb-action>
                                      </nb-actions>
                                    <nb-progress-bar [value]="noteValue * 20" status="success" size="large" displayValue="true" class="progressBar"></nb-progress-bar>
                                    <nb-actions size="small">
                                        <nb-action icon="plus-outline" (click)="setValue(noteValue + 1)"></nb-action>
                                      </nb-actions>
                                </div>
                            </div>
                        </div>
                        <div class="contentBody">
                            <label for="">Content</label>
                            <textarea nbInput fullWidth formControlName="Content"></textarea>
                        </div>
                    </div>
                    <button nbButton [disabled]="form.invalid"><nb-icon icon="plus-square-outline" status="success"></nb-icon>Ajouter</button>
                    <button nbButton (click)="close()"><nb-icon icon="close-square-outline" status="danger"></nb-icon>Annuler</button>
                </div>
            </form>       
        </nb-card-body>
    </nb-card>
 </div>