<nb-card class="authCard">
    <nb-card-header class="cardBody">
        Connexion
    </nb-card-header>
    <nb-card-body class="cardBody">
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="inputContainer">
                <label for="login">Login</label>
                <input type="text" nbInput shape="semi-round" id="login" formControlName="Login" fieldSize="giant" placeholder="ex : JohnSmith">
            </div>
            <div class="inputContainer">
                <label for="password">Password</label>
                <input type="password" nbInput shape="semi-round" id="password" formControlName="Password" fieldSize="giant" placeholder="ex : Password">
            </div>
            <div class="buttonContainer">
                <button [disabled]="form.invalid" type="submit" nbButton>Se Connecter</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
