<nb-card status="success" accent="info">
    <nb-card-header>
        <h5 style="color: whitesmoke;">Bienvenu dans mon appli de gestion de film.</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="card-descrip">
                Dans cette appli vous pourrez, en tant qu'utilisateur, parcourir une liste de films,
                donner votre avis sur ceux-ci tout en ayant un profil complet que vous pourrez modifier à votre guise
        </div>
        <div class="card-row">
            <div class="card-col" *ngIf="!isConnected">
                <nb-card size="tiny">
                    <nb-card-header>
                        S'inscrire ?
                    </nb-card-header>
                    <nb-card-body>
                        <button (click)="onRegister()" nbButton>Click here</button>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="card-col" *ngIf="!isConnected">
                <nb-card size="tiny">
                    <nb-card-header>
                        Se connecter ? 
                    </nb-card-header>
                    <nb-card-body>
                        <button (click)="onLogin()" nbButton>Click here</button>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="card-col" *ngIf="isConnected">
                <nb-card size="tiny">
                    <nb-card-header>
                        Voir la liste de film ? 
                    </nb-card-header>
                    <nb-card-body>
                        <button (click)="onNav()" nbButton>Click here</button>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="card-col" *ngIf="isConnected">
                <nb-card size="tiny">
                    <nb-card-header>
                        Voir Mon Profil
                    </nb-card-header>
                    <nb-card-body>
                        <button (click)="onProfil()" nbButton>Click here</button>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>
